<!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/style_xmas.css" />
  </head>
  <body>

    <div id="booting" rv-if="states.kickerStatus | eq 'booting'">
      <div id="boot_message">booting kicker ...</div>
    </div>

    <div id="playing" rv-if="states.kickerStatus | eq 'playing'">
      <div id="score_black" class="score">
        { states.score_black }
      </div>
      <div id="score_yellow" class="score">
        { states.score_yellow }
      </div>
      <div id="score_resetter">
        <button class="btn" id="score_resetter_button">
          RESET
        </button>
      </div>
    </div>

    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='js/rivets.bundled.min.js'></script>
    <script src='js/rivets-initializer_xmas.js'></script>
    <script src="js/script_xmas.js"></script>
  </body>
</html>
